<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ნესო - სეკრეტ სანტა</title>
  </head>

  <body>
    <a href="/user/logout">გასვლა</a>
    <div class="login">
      <h3>გთხოვთ შეამოწმოთ თქვენი ელ-ფოსტა</h3>
    </div>
  </body>
</html>