<!DOCTYPE>
<html>
  <head>
    <title>Mail</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <a href="/user/logout">Log Out</a>
    
    <h3>Check your E-mail inbox please</h3>
  </body>
</html>