<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <form action="/user/login" method="POST">

    <input type="email" name="email" placeholder="e-mail" required>
    <br>
    <input type="password" name="password" placeholder="password" required>
    <br>
    <input type="submit" value="Log In">
        
  </form>

</body>

</html>