<!DOCTYPE html>
<html lang="ge">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>ავტორიზაცია</title>
</head>

<body>

  <div class='login'>
    <h2>ავტორიზაცია</h2>
    <form action="/user/login" method="POST">
      <input name='email' placeholder='ელ-ფოსტა' type='email' required>
      <input id='pw' name='password' placeholder='პაროლი' type='password' required>      
      <input class='animated' type='submit' value='შესვლა'>
      <a class='forgot' href='/user/signup'>არ მაქვს ანგარიში</a>
    </form>      
  </div>

</body>

</html>
