<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ნესო სეკრეტ სანტა</title>
  </head>

  <body>
    <a href="/user/logout">გასვლა</a>

    <div class="login">
      <h3>გახდი ვინმეს სეკრეტ სანტა!<br>ეს სახალისოა</h3>
      <br>
      <form action="/secret" method="POST">
        <input type="submit" name="mksanta" value="გახდი სანტა">
       </form>
    </div>
  </body>
</html>