<!DOCTYPE>
<html>
  <head>
    <title>Secret Santa</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <a href="/user/logout">Log Out</a>

    <h2>Become someone else's Secret Santa</h2>

    <form action="/secret" method="POST">
      <input type="submit" name="mksanta" value="Be Santa">
    </form>
  </body>
</html>