<!DOCTYPE html>
<html>

<head>
  <title>Registration Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <form action="/user/signup" method="POST">

    <input type="text" name="fullname" placeholder="Fullname">
    <br>
    <input type="email" name="email" placeholder="e-mail">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Sign Up">
    
  </form>

</body>

</html>